<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Golden Players | Face Recognition</title>
  <link rel="icon" type="image/x-icon" href="http://127.0.0.1:5000/static/images/favicon.ico">
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='toastr/mdtoast.min.css') }}">
</head>

<body>
  <div class="inputs">
    <div class="prof inputs">
      <div class="square hdsfds">
        <div class="dfdc">
          <button class="replace_image_btn button" type="button" id="buttonid">Choose an image</button>
          <input type='file' id="fileid" accept="image/*" hidden />
        </div>
      </div>
    </div>
    <div class="student inputs">
      <div class="rectangle">
        <img src="http://127.0.0.1:5000/static/images/10.png" id="imgid">
      </div>
    </div>
  </div>
</body>

<script src="{{ url_for('static',filename='toastr/mdtoast.min.js') }}"></script>
<script src="{{ url_for('static',filename='jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='script.js') }}"></script>

</html>